body {
    margin: 10px;
    background-color: white;
    font-family: arial;
}
#home {
    margin-top: -1;
    margin-left: -1;
    margin-right: -1;
    background-color: rgb(157, 0, 255);
    padding-bottom: 1cm;
}
header {
    font-size: 50px;
    text-align: left;
}
button {
    cursor: pointer;
    padding: 5px;
}
#tmp, #wgt, #dst {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-color: lightblue;
    margin: 10px;
    border-radius: 15px;
    padding: 25px;
    border-top-width: 20px;
    background-color: bisque;
}
#tmp {
    border-top-color: green;
}
#wgt {
    border-top-color: orange;
}
#dst {
    border-top-color: cyan;
}
legend {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}