table,th,td {
    border: 2px solid black;
}
body {
    background-color:wheat;
}
h1 {
    font-family: Cursive; font-size: 70px; color:rgb(139,0,0);
}
#table-heading {
    background-color:lightblue;
}